.cardHeader {
  letter-spacing: 2px;
}

.cardTitle {
  margin-left: 16px;
  font-weight: 500;
}

.cardValue {
  color: #77a06c;
  font-weight: 500;
}

.cardInfo {
  padding-top: 7px;
  padding-bottom: 10px;
}

.cardBody {
  padding-right: 26px;
  padding-top: 26px;
  padding-bottom: 40px;
}

@media (max-width: 375px) {
  .cardBody {
    padding-top: 18px;
    padding-bottom: 20px;
  }
  .cardTitle {
    margin-left: 8px;
    font-size: 14px;
  }
  .cardInfo > h3,
  .cardInfo > h1 {
    font-size: 17px !important;
  }
  .cardHeader {
    font-size: 14px;
  }
}
